<!DOCTYPE html>
<html {{ language_attributes }} lang="en">
    <head>
        <meta charset="{{ bloginfo( 'charset' ) }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="distribution" content="global" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {{ context.header() }}

        {% block header %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="site-branding">
                {% if is_front_page() and is_home() %}
                <h1 class="site-title"><a href="{{home_url( '/' )}}" rel="home">{{bloginfo( 'name' )}}</a></h1>
                {% else %}
                <p class="site-title"><a href="{{home_url( '/' )}}" rel="home">{{ bloginfo( 'name' ) }}</a></p>
                {% endif %}

                {% if get_bloginfo( 'description', 'display' ) or is_customize_preview() %}
                <p class="site-description">{{ get_bloginfo( 'description', 'display' ) }}</p>
                {% endif %}
            </div>

            <nav>
                {{ context.menu('primary',false,false,'nav-gap')  }}
            </nav>
        </header>

        <div class="content">
            <div class="main">
                {% block main %}
                {% endblock %}
            </div>
            {% block secondary %}
            <aside class="secondary sidebar widget-area" role="complementary">
                {{ dynamic_sidebar( 'sidebar-1' ) }}
            </aside>
            {% endblock %}
        </div>

        {{ context.footer() }}

        {% block scripts %}
        {% endblock %}

        <footer>
            <nav>
                {{ context.menu('footer',false,false,'nav-gap') }}
            </nav>
        </footer>
    </body>
</html>
